
table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin: 20px 0;
    text-align: left;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

thead {
    width: 100%;
    background: #30393e;
    position: sticky;
    border-radius: 20px;
    top: 0;
}

th {
    color: white;
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
}
  
  td {
    padding: 12px 15px;
    border: 1px solid #ddd; /* Borde alrededor de las celdas */
    text-align: center; /* Centrado de texto */
  }
  
  tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el ratón por encima */
  }
  
  /* Campos editables */
  input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
  }
  
  
  table {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para la tabla */
  }
  